.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;
    border: 2px solid purple;
}

.timer p {
    font-size: 38px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.buttons button{
    color: white;
    cursor: pointer;
    width: 100px;
    height: 70px;
    border-radius: 8px;
    background-color: black;
    border: 1px solid white;
    transition: .3s ease;
}

.buttons button:hover{
    color: purple;
    border: 1px solid purple;
}